$size: -5px;
.tl { top:$size; left:$size; }
.tr { top:$size; right:$size; }
.bl { bottom:$size; left:$size; }
.br { bottom:$size; right:$size; }
.handle {
    position: absolute; 
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    box-sizing: border-box; 
    &-main {
        span {
            position: absolute; 
            width:10px; 
            height:10px; 
            background:rgba(255,255,255,1);
        }
    }
    &-border {
        .nav-brdr {
            position: absolute;
            width: 31px;
            height: 1.5px;
            background-color: white;
            z-index: 3; 
            span {
                position: absolute;
                width: 15px; 
                height: 7.5px;
                background: white;
            }
            &:nth-child(1) {
                span { top:-3px; left:18px; }
            }
            &:nth-child(2) {
                right:-1px; top:-1px;
                span { top:-3px; left:-5px; }
            }
            &:nth-child(3) {
                right:-1px; bottom:0px;
                span { bottom:-3px; left:-5px; }
            }
            &:nth-child(4) {
                right:330px; bottom:1px;
                span { bottom:-3px; right:-4px; }
            }
        }
    }
}